* {
    margin: auto;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {

}

nav > ul.nav > li > a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

nav > ul.nav > li > a:hover {
    color: rgb(251, 52, 255);
    transition: color 0.6s;
}

nav > ul {
    list-style: none;
    text-align: right;
    position: relative;
    bottom: 35px;
}

ul > li {
    display: inline;
    color: white;
    font-size: 20px;
}

header {
    background-color: rgba(138, 144, 255, 0.9);
    position: fixed;
    width: 100%;
    padding: 0px 0px 20px 0px;
}

section.banner {
    background-image: url("../img/banner-bg.jpg");
    height: 750px;
    width: 100%;
    background-repeat: round;
}

img.logo {
    width: 75px;
}

div.headerLogo {
    padding: 20px 0px 0px 0px;
}

button.dropBtn {
    background-color: white;
    color: rgba(138, 144, 255, 0.9);
    padding: 10px;
    left: 3px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    float: left;
    position: relative;
    bottom: 50px;

}

div.dropdown {
    position: relative;
    display: none;
}

div.dropdownContent {
    display: none;
    position: absolute;
    background-color: rgba(138, 144, 255, 0.9);
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
    min-width: 160px;
    top: 21px;
}

.dropdownContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;


}

.dropdownContent a:hover {
    background-color: white;

}

.dropdown:hover .dropdownContent {
    display: block;

}

.dropdown:hover .dropBtn {
    background-color: white;

}

.bannerText {
    color: white;
    font-size: 60px;
    padding: 190px 45% 0px 0px;
    font-weight: 300;
    width: 500px;
}

.bannerSubText {
    padding: 190px 20% 0px 21%;
    color: white;
    font-size: 30px;
    position: relative;
    bottom: 185px;
}

.bannerBtn {
    background-color: white;
    border: none;
    padding: 13px 21px;
    margin-left: 21%;
    position: relative;
    bottom: 160px;
    box-shadow: 0px 5px 8px 0px rgb(0, 0, 0, 0.2);
}

.bannerBtn:hover {
    border: white solid 1px;
    background-color: rgb(103, 103, 208);
    color: white;
    transition: color, background-color 0.6s;

}